* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #c4bdae;
}

ul li {
  list-style: none;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h5 {
  font-size: 1.05rem;
}

.container-fluid {
  padding: 0;
}

.nav-icon-choose-a {
  display: flex;
  align-items: center;
}

.nav-icon-choose-a > li {
  padding-top: 10px;
  position: relative;
  list-style: none;
}

.nav-icon-choose-a > li > a {
  display: flex;
  align-items: center;
  padding: 6px 19px 6px 6px;
  border-radius: 5px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
}

.nav-icon-choose-a > li > a img {
  margin-right: 12px;
}

.nav-icon-choose-a > li:hover .nav-item-submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.navbar-nav {
  padding-bottom: 40px;
}
.nav-item-icon {
  padding-top: 10px;
}

/*  */
.nav-main-form {
  width: 50%;
  padding-top: 10px;
}

.form-control {
  line-height: 40px;
}

.nav-item {
  height: 50px;
  line-height: 50px;
  padding-top: 10px;
}

.nav-item > ul > li {
  position: relative;
  list-style: none;
}

.menu-contact-a {
  float: right;
  padding-right: 55px;
}

.section-empty {
  background-color: white;
  padding-bottom: 20px;
}

.banner-slider {
  display: flex;
  flex-direction: row;
}
.carousel-inner {
  border-radius: 10px;
}

.banner-slider-onebyone {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}

.banner-slider-one {
  height: 50%;
  padding: 0px 0px 10px 10px;
}
.banner-slider-two {
  height: 50%;
  padding: 10px 0px 0 10px;
}
.banner-slider-one_sub {
  width: 100%;
  height: 100%;
  background: url(../images/slider/banner-slider-01.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;
}

.banner-slider-two_sub {
  width: 100%;
  height: 100%;
  background: url(../images/slider/banner-slider-02.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;
}

.text-one {
  padding-left: 20px;
  padding-top: 15px;
}

.custom-row {
  display: flex;
}

.slider {
  height: 650px;
  width: 1320px;
  display: flex;
  perspective: 1000px;
  align-items: center;
}

.box1 {
  background: url("/images/slider/instagram-01.jpg");
  background-size: cover;
  background-position: center center;
}
.box2 {
  background: url("/images/slider/instagram-02.jpg");
  background-size: cover;
  background-position: center center;
}
.box3 {
  background: url("/images/slider/instagram-03.jpg");
  background-size: cover;
  background-position: center center;
}
.box4 {
  background: url("/images/slider/instagram-04.jpg");
  background-size: cover;
  background-position: center center;
}
/* .box5 {
  background: url("/images/slider/instagram-05.jpg");
  background-size: cover;
  background-position: center center;
}
.box6 {
  background: url("/images/slider/instagram-06.jpg");
  background-size: cover;
  background-position: center center;
} */

.slider [class*="box"] {
  /*   float: left; */
  overflow: hidden;
  border-radius: 20px;
  transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  position: absolute;
}
.slider [class*="box"]:nth-child(7),
.slider [class*="box"]:nth-child(1) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.2) translate(-50%, -50%);
  top: 10%;
  z-index: 1;
}
.slider [class*="box"]:nth-child(2),
.slider [class*="box"]:nth-child(6) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.4) translate(-50%, -50%);
  top: 20%;
  z-index: 2;
}
.slider [class*="box"]:nth-child(3),
.slider [class*="box"]:nth-child(5) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.6) translate(-50%, -50%);
  top: 30%;
  z-index: 3;
}
.slider [class*="box"]:nth-child(4) {
  width: 60vw;
  height: 60vh;
  border-color: #c92026;
  color: #fff;
  transform: scale(1) translate(-50%, -50%);
  top: 50%;
  z-index: 4;
}
.slider [class*="box"]:nth-child(1) {
  left: -13%;
}
.slider [class*="box"]:nth-child(2) {
  left: -5%;
}
.slider [class*="box"]:nth-child(3) {
  left: 10%;
}
.slider [class*="box"]:nth-child(4) {
  left: 50%;
}
.slider [class*="box"]:nth-child(5) {
  left: 71%;
}
.slider [class*="box"]:nth-child(6) {
  left: 85%;
}
.slider [class*="box"]:nth-child(7) {
  left: 100%;
}
/*  */

.slider .firstSlide {
  -webkit-animation: firstChild 1s;
  animation: firstChild 1s;
}

/* box */
.base-box.boxed,
.advs-box.boxed,
.base-box.boxed-inverse,
.advs-box.boxed-inverse {
  background-color: #fdfdfd;
  border: 1px solid #f1f1f1;
  padding: 25px;
  border: none;
  border-radius: 10px;
}

.advs-box .img-box img,
.base-box .img-box img {
  width: 100%;
}

.advs-box-content {
  text-align: center;
}

/* footer */
.footer {
  background-color: rgb(241, 237, 232);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
  color: #555d6d;
}
